
<% @stores.each do |store|%>
  <h1><%=store.name%></h1>
  <p>Location: <%=store.city%></p>
  <p>Phone Number: <%=store.phone%></p>
  <p>Distance Away: <%=store.distance%></p>
  <p>Store Type: <%=store.type%></p>
<%end%>